
@media (max-width: 991px){
    header{
        padding:  2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }
    
    .home{
        padding: 0 4%;
    }

    .footer{
        padding:  2rem 4%;
    }

}


@media (max-width: 850px){
    .animacao.home-img{
        width: 55%;
    }
}


@media (max-width: 768px){
    header{
        background: var(--cor-bg);
    }

    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--cor-principal);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25S ease;
        transition-delay: .25s;
    }

    nav.ativar{
        left: 0;
        transition-delay: 0s;
    }

    nav .ativar-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--cor-bg);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    nav.ativar .ativar-nav{
        transition-delay: .25s;
        left: 0;
    }

    nav > a{
        display: block;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    nav.ativar > a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: var(--cor-bg);
        opacity: .6;
    }

    .sobre .sobre-geral{
        display: flex;
        flex-direction: column-reverse;
    }

    .sobre-conteudo{
        text-align: center;
        max-width: 90%;
    }
    .sobre .social-conteudo{
        max-width: 90%;
    }

    .sobre-conteudo {
        margin-bottom: 80px;
        margin-top: 30px;
    }
}


@media (max-width: 704px){
    .home{
        justify-content:center ;  
    }

    .home-conteudo{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        max-width: 85%; 
    }

    .botao-box .botao {
        margin: auto;
    } 

    .home-conteudo > p{
        letter-spacing: 0.4px;
    }
}


@media (max-width: 575px){
    .skills .conteudo-skills .swiper .swiper-wrapper .icones {
        margin: auto;
        padding-left: 50px;
    }
}


@media (max-width: 520px){
    .home-conteudo > h1{
        display: flex;
        flex-direction: column;
    }
    
    .social-media{
        width: 160px;
    }

    .social-media > a{
        width: 38px;
        height: 38px;
    }
}


@media (max-width: 462px){
    .educacao{
        padding: 10rem 4% 5rem 5%;
    }

    .contato > form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer > p{
        margin-top: 2rem;
        align-items: center;
    }

    .footer-iconTop > a{
        margin-bottom: 6px;
    }
    
}


@media (max-width: 371px){
    .home{
        justify-content:center ;  
    }

    .home-conteudo{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .botao-box .botao {
     margin: auto;
    }
}