@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppis', sans-serif;
}

:root{
    --cor-bg: #00000c;
    --cor-texto: #ededed;
    --cor-principal: #8f534b;
    --cor-secundaria: #081b29;
    --cor-card: #112e42;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--cor-bg);
    color: var(--cor-texto);
}