.skills{
    min-height: auto;
    padding-top: 22rem;
    padding-bottom: 22rem;
}

.skills > h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.conteudo-skills{

    max-width: 1330px;
    padding-inline: 15px;
    margin: 0 auto;
    padding-top: 100px;
}

.title-skills{
    margin: 60px 0;
    font-weight: 600;
    color: var(--cor-texto);
    text-align: center;
}

.swiper-wrapper{
    margin-bottom: 80px;
    position: relative;
}

.swiper-wrapper .swiper-slide{
    display: flex;
    height: 320px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--cor-bg);
    transition: all .6s ease;
}

.swiper-wrapper .infos{
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: 85%;
}

.swiper-pagination-bullet-active{
    background: var(--cor-texto);
}

.skills .conteudo-skills .swiper .swiper-wrapper{
    background-color: var(--cor-bg);
}

.skills .conteudo-skills .swiper .swiper-wrapper .bx{
    font-size: 150px;
}

.skills .conteudo-skills .swiper .swiper-wrapper .icones{
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    object-fit: cover;
    color: var(--cor-principal);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.skills .conteudo-skills .swiper .swiper-wrapper .icones i{
    position: absolute;
}

.skills .conteudo-skills .swiper .swiper-wrapper .loading{
    cursor: pointer;
    color: var(--cor-principal);
    width: 20rem;
    background: transparent;
    font-weight: 600;
    letter-spacing: .1rem;
}

.skills .conteudo-skills .title-skills{
    position: relative;
}